.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

li {
	color: blueviolet
}

.header {
	height: 80px;
	display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
	font-size: larger;
  font-weight: 500;
  font-family: sans-serif;
}

.footer {
 position: fixed;
  left: 0;
  bottom: 0;
	width: 100%;
	height: 60px;
  color: white;
	display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
	font-size: larger;
  font-weight: 500;
  font-family: sans-serif;
}

.list-container {
    margin-right: 30px !important;
    margin-left: 30px !important;
}

.list {
	margin: 10px
}


/* DIVIDER */

.header-div-divider{
display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div-divider{
		position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}
.header-divider{
	background-color: #037bff;
	width: 90%;
	height: 2.23px;
  margin-top: -30px;
}

.footer-divider{
		background-color: #037bff;
	width: 90%;
	height: 2.23px;
  margin-top: -30px;
}

/* Custom bg */

.bg-infoCustom{
	background-color: #4ea0f7;
	color:white;
}


.moveLeft{

	position: relative;
	left:95%;

}